<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ AP - Referenties</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='referenties-info/stijl.css') }}">
    
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/DJAP_logo1-wit-op-zwart.ico') }}">
	<script src="{{ url_for('static', filename='APrental/referenties/script.js') }}" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poetsen+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>


    <header>
        <div class="logo2">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/DJAP_logo1-wit-CROPPED.png') }}" alt="">
            </a>
        </div>
    </header>



    <div class="container">
        <h1>Biografie</h1>
        <div class="containerInfo">
            <p>DJ AP (Axel Pauwels) is een jonge, 19-jarige DJ uit Schoten, die met zijn veelzijdige stijl steeds meer naam maakt in de Antwerpse muziekscene en daarbuiten. Zijn sets zijn een unieke mix van energieke genres waarmee hij een breed publiek aanspreekt en moeiteloos de vibe van elk feest of evenement aanvoelt.</p>
            <p>Wat DJ AP bijzonder maakt, is zijn podiumervaring en zijn vermogen om zijn publiek echt mee te nemen in de muziek. Hij heeft al gedraaid in populaire zalen en locaties zoals IKON, Kavka Oudaan, JH AHOY, JC Bouckenborgh, ... </p>
            <p>DJ AP is niet alleen een DJ maar ook een creatieve kracht die eigen edits, mashups en remixes maakt. Deze unieke bewerkingen zorgen voor een frisse twist en persoonlijke touch tijdens zijn optredens, waarmee hij het publiek telkens weer weet te verrassen en in beweging te krijgen. Zijn veelzijdigheid en muzikale aanpassingen maken hem tot een favoriet voor een breed publiek.</p>
            <p>Axel, de persoon achter DJ AP, begon zijn muzikale reis uit pure passie voor muziek en het gevoel dat deze teweegbrengt. Inmiddels werkt hij continu aan zijn eigen stijl en sound, altijd met de focus op innovatie en het verrassen van zijn publiek. DJ AP staat dan ook garant voor een opzwepende avond vol muzikaal avontuur, met een setlist die genres overstijgt en iedereen op de dansvloer krijgt.</p>
        </div>

        <h1>Referenties</h1>

        <div class="sections-container">
            <div class="section">
                <h2>Merksem</h2>
                <ul>
                    <li><a href="https://www.facebook.com/events/694545138819768">MYA$$PI 2023</a></li>
                    <li><a href="https://www.facebook.com/events/332584279283116">'t Nachtje van de Jeugdbeweging 2023</a></li>
                    <li><a href="https://www.facebook.com/events/789188919356749">'Nacht van de Jeugdbeweging 2023</a></li>
                    <li><a href="https://www.facebook.com/events/335506329397374">MYA$$PI 2024</a></li>
                    <li><a href="https://www.facebook.com/events/657919729530106">Jincafé Scouts 38</a></li>
                    <li><a href="https://www.facebook.com/events/286199680996719">Jeneverbar Scouts 61</a></li>
                    <li><a href="https://www.instagram.com/bezopen_in_de_tropen">Fris aan de Vis</a></li>
                    <li>PROMBAL Sint Ludgadis Merksem</li>
                    <li><a href="https://www.facebook.com/events/935502741937839">Hangover</a></li>
                    <li><a href="https://www.facebook.com/events/836501471963283">Nacht van de Jeugdbeweging 2024</a></li>
                    <li><a href="https://www.facebook.com/events/1436072610575937">Can You Handle Wodka Jins 26+41</a></li>
                </ul>
            </div>
            <div class="section">
                <h2>JC Bouckenborg</h2>
                <ul>
                    <li><a href="https://www.facebook.com/events/3480398982229819">Twentyfoor 2023</a></li>
                    <li><a href="https://www.facebook.com/events/784337786450765">Jin De Bamaha's</a></li>
                    <li><a href="https://www.facebook.com/events/1361736071442961">Light Me Up 2023</a></li>
                    <li><a href="https://www.facebook.com/events/368776156031256">Remise pt1</a></li>
                    <li><a href="https://www.facebook.com/events/246218755182920">CTRL-A</a></li>
                    <li><a href="https://www.facebook.com/events/986635896125777">Twentyfoor 2024</a></li>
                    <li><a href="https://fb.me/e/59ZQkUA0S">Jin De Disco</a></li>
                    <li><a href="https://www.facebook.com/events/368776156031256">Remise pt2</a></li>
                    <li><a href="https://www.facebook.com/events/1052622609553686">HEISA</a></li>
                    <li><a href="https://www.facebook.com/events/396354276822000">Light Me Up 2024</a></li>
                    <li>Bedankingsfeest Jeugdbewegingen</li>
                </ul>
            </div>
            <div class="section">
                <h2>Antwerpen</h2>
                <ul>
                    <li><a href="https://www.facebook.com/events/774536063935572">Douzz @ Kavka Oudaan</a></li>
                    <li><a href="https://www.facebook.com/events/349016901143827">Het Grote Laatste 100 Dagen Feest @ IKON</a></li>
                    <li><a href="https://www.instagram.com/dejabu_2024/">Déjà Bu @ Kavka Oudaan</a></li>
                    <li><a href="https://www.facebook.com/events/960056709058475">Afgestudeerd Feest @ IKON</a></li>
                </ul>
            </div>
            <div class="section">
                <h2>PROMBAL @ IKON</h2>
                <ul>
                    <li>Mater Dei Brasschaat 2023</li>
                    <li><a href="https://www.instagram.com/annuntiaprom/">Annuntia Wijnegem 2023</a></li>
                    <li>TA Brasschaat 2024</li>
                    <li>Sint Ludgardis Antwerpen 2024</li>
                    <li><a href="https://www.instagram.com/annuntiaprom_2024/"></a>Annuntia Wijnegem 2024</a></li>
                </ul>
            </div>
            <div class="section">
                <h2>Wijnegem</h2>
                <ul>
                    <li><a href="https://www.facebook.com/events/764813358073865">Chirofuif Wijnegem @ JH AHOY</a></li>
                    <li><a href="https://www.facebook.com/events/182656841588750">Warmste Boît @ JH AHOY</a></li>
                    <li>Jincafé Wijnegem</li>
                    <li><a href="https://www.facebook.com/events/261185837060602/">Parsiefiësta @ JH AHOY</a></li>
                </ul>
            </div>
            <div class="section">
                <h2>Schilde</h2>
                <ul>
                    <li><a href="https://www.facebook.com/events/967404154959169/">Après Jincafé</a></li>
                    <li><a href="https://www.facebook.com/events/1827431641060513/">Jinbal X De Schuur 2024</a></li>
                    <li>PROMBAL Vita Et Pax</li>
                    <li><a href="https://www.facebook.com/events/514096614344331/">Chirofuif Schilde 2024</a></li>
                </ul>
            </div>
            <div class="section">
                <h2>Schoten</h2>
                <ul>
                    <li><a href="https://www.facebook.com/events/367979048957542">De Grote Aprés Ski Fuif</a></li>
                    <li><a href="https://www.facebook.com/events/510864788277267/">Bal van de Brandweer</a></li>
                </ul>
            </div>
            <div class="section">
                <h2>Ekeren</h2>
                <ul>
                    <li>PROMBAL Moretus 2023</li>
                    <li>PROMBAL Moretus 2024</li>
                </ul>
            </div>
            <div class="section">
                <h2>Brasschaat</h2>
                <ul>
                    <li>PROMBAL Mater Dei</li>
                </ul>
            </div>
            <div class="section">
                <h2>Wommelgem</h2>
                <ul>
                    <li><a href="https://www.instagram.com/p/C5x3y2_oCui/">Afterparty Woka Fest</a></li>
                </ul>
            </div>
            <div class="section">
                <h2>Oelegem</h2>
                <ul>
                    <li><a href="https://www.facebook.com/events/1604157820345602/">Jincafé Iconic Duo's</a></li>
                </ul>
            </div>
            <div class="section">
                <h2>Boechout</h2>
                <ul>
                    <li><a href="https://www.instagram.com/balreginapacis_2024/">PROMBAL Regina Pacis</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</body>
</html>
