body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'CoFo Sans', sans-serif;

    background-image: url("DJ AP-front foto.jpg");
    background-size: cover;
    background-position: center top;
    background-position: center calc(-12rem);
    background-repeat: no-repeat;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Zwarte overlay met 50% helderheid */
    z-index: 1;
}

.centered-text {
    font-weight: bold;
    font-style: italic;
    font-size: 6vw; /* Tekstgrootte gebaseerd op viewport breedte */
    color: white;
    position: relative;
    z-index: 2; /* Zorgt ervoor dat de tekst boven de overlay staat */
    text-align: center; /* Centreer de tekst */
    padding: 0 2vw; /* Kleine marge aan de zijkanten */
}

/* Extra media query voor zeer kleine schermen */
@media (max-width: 600px) {
    .centered-text {
        font-size: 8vw; /* Verhoog de tekstgrootte op kleinere schermen */
    }
}

/* Extra media query voor grotere schermen */
@media (min-width: 1200px) {
    .centered-text {
        font-size: 3vw; /* Verklein de tekstgrootte op grotere schermen */
    }
}


.mailAdres {
    color: white;
    position: absolute; /* Plaats het element absoluut ten opzichte van de body */
    bottom: 2rem; /* Plaats het 2 rem van de onderkant */
    left: 50%; /* Centreer horizontaal */
    transform: translateX(-50%); /* Corrigeer de uitlijning door 50% terug te schuiven */
    font-weight: bold;
    font-style: italic;
    font-size: 1.1rem; /* Pas de lettergrootte aan, indien gewenst */
    font-family: 'CoFo Sans', sans-serif;
    z-index: 2; /* Zorg ervoor dat het e-mailadres boven de overlay staat */
}
