body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'CoFo Sans', sans-serif;
    background-color: #FFF;
}


body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Zorg ervoor dat de pagina minimaal de hoogte van het scherm heeft */
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 20px 1rem 30px;
    background-color: black;
    color: #fff;
    top: 0;
    width: 100%;
    z-index: 15;
}


.nav-links {
    display: none;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
    gap: 1vw;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: #fff;
    font-family: Ubuntu;
    font-style: bold;
    text-decoration: none;
    font-size: 1.15rem;
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
}




body {
    margin-top: 6.5rem;
}

/* Stijl voor de link rondom het logo */
.logo1 a {
    margin-left: 2.25rem;
    display: block;
    width: 120px;
    height: auto;
}
  
.logo1 a img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo2 a {
    display: block;
    height: 57.41px;
    width: auto;
}

.logo2 a img {
    max-height: 100%;
    width: auto;
    display: block;
}

.container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


h1 {
    color: #333;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

h2 {
    color: #444;
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: 700;
}

p {
    line-height: 1.5;
    margin: .5rem;
}


span {
    font-weight: 550;
}

.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    font-size: 14px;
}

.to-top.visible {
    display: block;
}

.to-top:hover {
    background-color: #555;
}










@media (max-width: 1200px) {
    .container {
        width: 75%;
    }
}




/* Responsive opmaak */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.1em;
    }
    p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
    }
}







@media (min-width: 768px) {
    /* Toon de navigatielinks */
    .nav-links {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }

    /* Verberg het hamburger menu */
    .hamburger {
        display: none;
    }
}

/* Media query voor kleinere schermen */
@media (max-width: 767px) {
    
    .logo {
        margin: 0 auto;
    }

    /* Uitlijnen hamburger icon naar rechts */
    .hamburger {
        position: absolute;
        right: 20px;
    }

    /* Open het menu als het actief is */
    .nav-links.active {
        display: block;
        position: fixed;
        top: 70px;
        right: 0;
        width: 300px;
        background-color: #333;
        padding: 0 0;
        text-align: right;
        border-radius: 4px 0 0 6px;
        box-shadow: -4px 0 8px rgba(1, 0, 0, 0.2);
    }

    
    .nav-links li {
        z-index: 50;
        padding: 10px 20px;
        border-bottom: 1px solid #444;
    }
    
    .nav-links li:last-of-type {
        border-bottom: none;
    }


    .nav-links ul {
        flex-direction: column;
        gap: 1px;
    }
}





















@media only screen and  (max-width: 768px) {
    .container {
        padding: 15px;
        width: 90%;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.1em;
    }

    p {
        font-size: 1em;
    }
}

@media only screen and  (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
    }
}





@media only screen and (max-width: 1142px){
    .containerInfo {
        width: 70%;
    }
}


@media only screen and (max-width: 950px) {
    .containerInfo {
        width: 80%;
    }
}



@media only screen and (max-width: 750px) {
    .containerInfo {
        width: 90%;
    }
    
    .logo2 a {
        height: 7vw; /* Pas de hoogte aan voor een kleiner logo */
    }
    .logo2 {
        display: flex;
        justify-content: center; /* Zorgt ervoor dat het logo in het midden staat */
    }
    .containerInfo {
        width: 95%;
    }
}



@media only screen and (max-width: 450px) {
    .logo2 {
        display: flex;
        justify-content: center;
    }
    .logo2 a {
        height: 31px; /* Pas de hoogte aan voor een kleiner logo */
    }
}
