<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Pagina niet gevonden</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='404/stijl.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/DJAP_logo1-wit-op-zwart.ico') }}">
    <script src="{{ url_for('static', filename='404.js') }}" defer></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poetsen+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap" rel="stylesheet">
</head>
<body>


    <header>
        <div class="logo1">
            <a href="{{ url_for('aprental') }}">
                <img src="{{ url_for('static', filename='images/AP-RENTAL-wit.png') }}" alt="">
            </a>
        </div>
        <div class="logo2">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/DJAP_logo1-wit-CROPPED.png') }}" alt="">
            </a>
        </div>
        <nav class="nav-links" id="nav-links">
            <ul>
                <li><a href="{{ url_for('licht') }}">LICHT</a></li>
                <li><a href="{{ url_for('lichtsets') }}">LICHTSETS</a></li>
                <li><a href="#">SPEAKERS</a></li>
                <li><a href="{{ url_for('speakersets') }}">SPEAKERSETS</a></li>
                <li><a href="../sfx/index.html">SFX</a></li>
            </ul>
        </nav>
        <div class="hamburger" id="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <main class="error-content">
        <h1>404</h1>
        <p>Oeps! Deze pagina kon niet worden gevonden.</p>
        <a href="{{ url_for('home') }}" class="button">Ga terug naar de homepagina</a>
    </main>
</body>
</html>
